<DOCTYPEHTML>
	<html>
	<link rel="stylesheet"
      type="text/css"
      href="../static/styles/results.css"/>
	<body>
		<head>
		<title>Wintr- Forgot Password</title>
		<center><h1>Forgot Password</h1></center>
		</head>
	<center>
	<br>
	<br>
	<br>
<div style="color:blue;">		
		{% for message in messages %}
		{{message}}
		<br>
		{% endfor %}
	</div>
		Enter the e-mail address associated with your account 
		<br>
		in order for us to send you an e-mail reminder containing your password:
		<br>
	
	<form method="POST" action="">
	<input type=email" id="email" name="email"></input>
	<br>
	<input type="submit" name="submit" value="submit">
	</form>
<br>
	<a href="/">Back to home page</a>
	

	</center>
	</body>
</html>