<!--<!DOCTYPE HTML>
<html>
  <head>
    <title>Encyclopedia</title>
  </head>
  <body>
    <center>
	<form method="POST" action="">
      Enter search term: <input type="text" name="searchText">
      <input type="submit" name="submit" value="Submit">
    </form>
    <br>

	<div>
        <form action="/wiki" method="post">
	        <button id="tab1" type="submit">Wikipedia</button>
        </form>
        <form action="/flickr" method="post">
	        <button id="tab2" type="submit">Flickr</button>

        </form>
	<button id="tab3">Twitter</button>
        <img src={{ flickrImage }}>
        <img src={{ flickrImage2 }}>

	    {{wikiText}}

	</div>
	</center>




  </body>
</html>-->
<!DOCTYPE HTML>
<html>


  <head>
    <title>Encyclopedia</title>
  </head>
  <body>
    <center>
	<form method="POST" action="">
      Enter search term: <input type="text" name="searchText">
      <input type="submit" name="submit" value="Submit">
    </form>
    <br>

	<div>
	<button id="tab1" onclick="wikiFunction()">Wikipedia</button>
	<button id="tab2" onclick="flickrFunction()">Flickr</button>
	<button id="tab3">Twitter</button>
	</div>
	</center>

	{% if wikiText %}
      <div id="flickrElement">
	  Flickr:
		<br>
	  <img src={{flickrImage}} height="50%" width="50%"></img>
	  <br>
	  <img src={{flickrImage2}} height="50%" width="50%"></img>
	  </div>
	  <div id="wikiElement">
	  Wikipedia:
	  <br>
	  <img src={{wikiImage}} height="50%" width="50%"></img>
	  <br>


	  {{wikiText}}
	  </div>
        <div id="twitterElement">
        {{ twitterText }}
        </div>
	   {%endif %}

  <script>
       function flickrFunction(){
          var x = document.getElementById("wikiElement");
          var y = document.getElementById("flickrElement");

           x.style.display = "none"
           y.style.display = "block"

      }
      function wikiFunction(){
          var x = document.getElementById("wikiElement");
          var y = document.getElementById("flickrElement");

           x.style.display = "block"
           y.style.display = "none"

      }

  </script>
  </body>
</html>
