<DOCTYPEHTML>
<link rel="stylesheet"
      type="text/css"
      href="../static/styles/index.css"/>
<body>  
<head>
<title>
Wintr
</title>
<center>
<h1>Wintr</h1>
<br>
Encyclotainment
</center>
</head>
<span>
Welcome to Wintr, your one stop shop for what you are searching for.
<br>
<br>
<br>
<br>
{% if message%}
	{{message}}
	{% endif%}
<form method="POST" action="">
      Username:<input type="text" name="username">
	  <br>
      Password:<input type="text" name="password">
      <br>
	  <input type="submit" name="submit" value="Submit">
</form>
<form method="POST" action="">
    <input type="submit" name="submit" value="Register">
</form>
</span>

</body>
</html>