h1{
    color: deepskyblue;
    ; font-family: "Footlight MT Light";
    font-weight: 600;
    font-size: 1500%;

}

body{

 background: url('../images/snowflake.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

color: palegreen;

background-color: lightBlue
}




