body {
    background-color: lightsteelblue;
}
h1 {
    color: darkslategrey;
    font-family: Verdana;
}
h3 {
    font-family: cursive;
    color: coral;
}
td {
    font-family: sans-serif;
    color: crimson;
}